body {
  font-family: "Josefin Sans";

  background-color: #fbc252;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A3BB98;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 729px;
  height: 742px;
  box-shadow: 5px 10px 18px #888888;
  border-radius:80px;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 150px;
  width: 700px;
  height: 900px;
  margin-top: -330px;
  opacity: 80%;
  
}

@media screen and (max-width: 1200px) {
  .hero-banner-img {
   width: 0;
   height: 0;
    
  }
}
/* @media screen and (max-width: 400px) {
  .hero-banner-img {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: -120px;
    top: 150px;
    right: -20px;
    opacity: 80%;
    
  }
} */

.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #A3BB98;
  border-radius: 30px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  box-shadow: 5px 10px 18px #888888;

  opacity: 80%;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  /* background-color: #FF2625; */
  border-radius: 50px;
  box-shadow: 5px 10px 18px #888888;
  margin-left: auto;
}

.search {
  box-shadow: 5px 10px 18px #888888;
  border-radius: 30px;
}

.card-img {
  border-radius: 30px 30px 0px 0px;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #A3BB98 !important;
  border: 1px solid #A3BB98 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
    box-shadow: 5px 10px 18px #888888;
  }

  .home-background {
    background-image: linear-gradient(#A3BB98, yellow);
    background-color: #A3BB98;
  }

  .exercise-details {
    border-radius: 0px 0px 0px 80px;
    background-color: #A3BB98;
  }

  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .exercise-card {
    width: 320px;
    box-shadow: 5px 10px 18px #888888;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .exercise-card {
    width: 280px;
  }
}

.banner {
  margin-top: 10;
  /* padding: 260px 0 100px 0; */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 30px;
  margin-bottom: 40px;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
.pages {
  color: #316685;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
}